# Default ignored files
/../../Strukturno programiranje /.idea/shelf/
/../../Strukturno programiranje /.idea/workspace.xml
# Editor-based HTTP Client requests
/../../Strukturno programiranje /.idea/httpRequests/
# Datasource local storage ignored files
/../../Strukturno programiranje /.idea/dataSources/
/../../Strukturno programiranje /.idea/dataSources.local.xml
